## Loop Clauses

#### DT200 Lab Session

Parin Chaipunya (KMUTT)

-----

**Ex.** Print values of `i` from 0 to 3.

In [1]:
for i in range(4):
    print(f'i = {i}')

i = 0
i = 1
i = 2
i = 3

-----
**Ex.** Print values of `i` from 4 to 10.

In [2]:
for i in range(4,11):
    print(f'i equals to {i}')

i equals to 4
i equals to 5
i equals to 6
i equals to 7
i equals to 8
i equals to 9
i equals to 10

-----
**Ex.** Print values of `i` starting from 2, not exceeding 20, and increasing by 3 at a time.
Also print *your name* after the loop is finished.

In [3]:
for i in range(2,20,3):
    print(f'I am {i}')
print('Parin Chaipunya')

I am 2
I am 5
I am 8
I am 11
I am 14
I am 17
Parin Chaipunya

-----
**Ex.** Let's find the value of $1 + 3 + 5 + \dots + 179$.

In [4]:
sum = 0
for i in range(1,180,2):
    sum += i
print(f'1+3+5+...+179 = {sum}')

1+3+5+...+179 = 8100

-----
**Ex.** We can also use for with a list.

In [5]:
L = [1, 'two', 3.0]
for l in L:
    print(l)

1
two
3.0

-----
**Ex.** Let us print a pair using `zip` of two iterables.

In [6]:
X = [0, 1, 2, 3, 4, 5]
Y = [0, 2, 4, 6, 8, 10]

In [7]:
for (x,y) in zip(X,Y):
    print(f'(x,y) = ({x},{y})')

(x,y) = (0,0)
(x,y) = (1,2)
(x,y) = (2,4)
(x,y) = (3,6)
(x,y) = (4,8)
(x,y) = (5,10)

-----
**Ex.** We now list all possible pairs from the two iterables.

In [8]:
for x in X:
    for y in Y:
        print(f'(x,y) = ({x},{y})')

(x,y) = (0,0)
(x,y) = (0,2)
(x,y) = (0,4)
(x,y) = (0,6)
(x,y) = (0,8)
(x,y) = (0,10)
(x,y) = (1,0)
(x,y) = (1,2)
(x,y) = (1,4)
(x,y) = (1,6)
(x,y) = (1,8)
(x,y) = (1,10)
(x,y) = (2,0)
(x,y) = (2,2)
(x,y) = (2,4)
(x,y) = (2,6)
(x,y) = (2,8)
(x,y) = (2,10)
(x,y) = (3,0)
(x,y) = (3,2)
(x,y) = (3,4)
(x,y) = (3,6)
(x,y) = (3,8)
(x,y) = (3,10)
(x,y) = (4,0)
(x,y) = (4,2)
(x,y) = (4,4)
(x,y) = (4,6)
(x,y) = (4,8)
(x,y) = (4,10)
(x,y) = (5,0)
(x,y) = (5,2)
(x,y) = (5,4)
(x,y) = (5,6)
(x,y) = (5,8)
(x,y) = (5,10)

-------
**Ex.** Let's now do `while` loop. Let's print non-negative integers whose squares not exceeding 4.

In [9]:
i = 0;
while i**2 <= 4:
    print(i)
    i += 1

0
1
2

-----
**Ex.** Let's do another *sane* problem using `while` loop.

Consider the summation $S_{n} = \sum_{i=1}^{n} \frac{1}{n} = 1 + \frac{1}{2} + \frac{1}{3} + \dots + \frac{1}{n}$.

Find the smallest integer $m$ in which $S_{m} > 10$.

In [10]:
sum = 0
i = 0
while sum <= 10:
    i += 1
    sum += (1/i)
print(f'm = {i} and the sum S_m = {sum}')

m = 12367 and the sum S_m = 10.000043008275778

-----
**Ex.** By definition, $e = \lim_{n \to \infty} (1 + \frac{1}{n})^{n}$.

How far do we need to go (in term of $n$) to reach the accuracy of $30$ decimal places $e \approx 2.718281828459045$ ?

In [11]:
e_approx = 2.718281828459045
n = 1
lim = (1 + 1/n)**n
Err = abs(e_approx - lim)
while Err >= 1E-16:
    n += 1
    lim = (1 + 1/n)**n
    Err = abs(e_approx - lim)
    if n % 5E6 == 0:
        print(f'n = {n}; lim = {lim}')
print(f'** n = {n} with lim = {lim} **')

n = 5000000; lim = 2.718281555200129
n = 10000000; lim = 2.7182816941320818
n = 15000000; lim = 2.718281736418873
n = 20000000; lim = 2.7182817560533206
n = 25000000; lim = 2.7182817726626274
n = 30000000; lim = 2.718281790777263
n = 35000000; lim = 2.7182817881956653
n = 40000000; lim = 2.7182818021034367
n = 45000000; lim = 2.718281805878828
n = 50000000; lim = 2.718281814934939
n = 55000000; lim = 2.7182818174061043
n = 60000000; lim = 2.7182818134296105
n = 65000000; lim = 2.7182818031005027
n = 70000000; lim = 2.7182818287372563
n = 75000000; lim = 2.718281808906383
n = 80000000; lim = 2.7182817949495055
n = 85000000; lim = 2.7182818110383686
n = 90000000; lim = 2.718281820980393
n = 95000000; lim = 2.7182818217752125
n = 100000000; lim = 2.7182817983473577
n = 105000000; lim = 2.7182818140840626
n = 110000000; lim = 2.7182818297619304
n = 115000000; lim = 2.718281824263342
n = 120000000; lim = 2.7182818247557847
n = 125000000; lim = 2.7182818161551343
n = 130000000; lim = 2.7182818135554325
n = 135000000; lim = 2.718281798853157
n = 140000000; lim = 2.7182818384454057
n = 145000000; lim = 2.7182818387801695
n = 150000000; lim = 2.7182818632358083
n = 155000000; lim = 2.7182817760090243
n = 160000000; lim = 2.718281851730521
n = 165000000; lim = 2.7182818006836498
n = 170000000; lim = 2.7182818703375995
n = 175000000; lim = 2.718281819261742
n = 180000000; lim = 2.718281828531176
n = 185000000; lim = 2.7182818468426455
n = 190000000; lim = 2.7182818289285855
n = 195000000; lim = 2.718281856273097
n = 200000000; lim = 2.718281805143062
n = 205000000; lim = 2.718281862648893
n = 210000000; lim = 2.718281883932043
n = 215000000; lim = 2.718281820706676
n = 220000000; lim = 2.7182817695460653
** n = 220825296 with lim = 2.718281828459045 **

-----